body{
  background-color: gray;
  margin: 0;
  padding: 0;
}

#btn{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  color: white;
  margin: 30px auto;
  text-align: center;
  display: block;
  font-size: 50px;
  font-weight: bold;
}